{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Default title{% endblock title %}</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
</head>
<header>
  <div class="logo">
    <a href="{% url 'homepage' %}">
      <img src="{% static 'logo1.png' %}" alt="logo">
    </a>
  </div>
  <nav>
    <ul class="nav-menu">
      <li><a href="{% url 'homepage' %}">Home</a></li>
      <li><a href="{% url 'about' %}">About</a></li>
    </ul>
  </nav>
  <div class="header-button"><button class="button_primary">List</button></div>

</header>
{% block content %}{% endblock content %}
</html>